/*Mobile*/
@media screen and (min-width: $mobile-breakpoint) {
  .about {
    background-color: var(--about-background-color);

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
    }

    &__label {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.16;
      text-align: center;
      text-transform: uppercase;
      color: var(--label-font-color);
      padding-top: 60px;
    }

    &__title {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--title-text-color);
      width: 200px;
      height: 76px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-top: 32px;
      justify-content: center;
      background-size: cover;
    }

    &__image {
      padding-left: 16px;
      width: 280px;
      height: 279px;
    }

    &__text-container {
      padding-left: 20px;
      padding-right: 80px;
      margin-top: 40px;
      background-image: url(../images/background-img-m.png);
      background-image: image-set(
        '../images/background-img-m.png' 1x,
        '../images/background-img-m@2x.png' 2x
      );
      background-repeat: no-repeat;
      background-size: 280px 133px;
      background-position: 20px 85px;
    }

    &__first-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      letter-spacing: 0.04em;
      color: var(--first-text-color);
      width: 220px;
      height: 111px;
    }

    &__second-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      letter-spacing: 0.04em;
      color: var(--second-text-color);
      width: 220px;
      height: 171px;
    }
  }

  .read-more-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    text-align: center;
    color: var(--btn-text-color);
    margin-top: 20px;
    background-color: var(--btn-background-color);
    display: flex;
    justify-content: center;
    border-radius: 22px;
    border: none;
    width: 176px;
    height: 44px;
    cursor: pointer;
    gap: 13.62px;
    &:hover,
    &:focus {
      background-color: var(--btn-hover-focus);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  /*Modal*/
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25, 28, 38, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity var(--transition);
  }

  .modal-content {
    padding: 8px;
    background: var(--modal-backround-color);
    width: 300px;
    margin: 0 auto;
    height: 300px;
    position: relative;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .close-btn {
    background: var(--close-btn-background-color);
    border: 1px solid #0000001a;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: color var(--transition);
    transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;
  }

  .close-btn:hover,
  .close-btn:focus {
    background: (var--btn-text-color);
  }

  .modal:hover,
  .modal:focus {
    transform: scale(1.05);
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .about {
    background-color: var(--about-background-color);

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
    }

    &__label {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.15;
      text-align: center;
      text-transform: uppercase;
      color: var(--label-font-color);
      padding-top: 60px;
    }

    &__title {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--title-text-color);
      margin-top: 16px;
      margin-block-end: 0;
      width: 500px;
      height: 55px;
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
      margin-top: 0;
    }

    &__image {
      padding-left: 32px;
      width: 336px;
      height: 335px;
    }

    &__text-container {
      margin-top: 40px;
      padding-left: 32px;
      padding-right: 34px;
      background-image: none;
    }

    &__first-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.04em;
      color: var(--first-text-color);
      width: 334px;
      height: 95px;
    }

    &__second-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.94;
      letter-spacing: 0.04em;
      color: var(--second-text-color);
      margin-top: 32px;
      width: 334px;
      height: 155px;
    }
  }

  .read-more-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    text-align: center;
    color: var(--btn-text-color);
    margin-top: 40px;
    background-color: var(--btn-background-color);
    display: flex;
    justify-content: center;
    border-radius: 22px;
    border: none;
    width: 176px;
    height: 44px;
    cursor: pointer;
    gap: 13.62px;
    &:hover,
    &:focus {
      background-color: var(--btn-hover-focus);
    }
  }

  /*Modal*/
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25, 28, 38, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity var(--transition);
  }

  .modal-content {
    padding: 8px;
    background: var(--modal-backround-color);
    width: 528px;
    margin: 0 auto;
    height: 500px;
    position: relative;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .close-btn {
    background: var(--btn-background-color);
    border: 1px solid #0000001a;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: color var(--transition);
    transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;
  }

  .close-btn:hover,
  .close-btn:focus {
    background: var(--btn-text-color);
  }

  .modal:hover,
  .modal:focus {
    transform: scale(1.05);
  }
}

/*Desktop*/
@media screen and (min-width: $desktop-breakpoint) {
  .about {
    background-color: var(--about-background-color);

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__label {
      font-family: 'Titan One';
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      line-height: 1.13;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--label-font-color);
      padding-top: 60px;
    }

    &__title {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 1.13;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--title-text-color);
      margin-top: 16px;
      width: 600px;
      height: 66px;
    }

    &__content {
      display: flex;
      flex-direction: row;
      gap: 99px;
      margin-top: 60px;
      background-image: url(../images/background-img-d.png);
      background-image: image-set(
        '../images/background-img-d.png' 1x,
        '../images/background-img-d@2x.png' 2x
      );

      background-size: cover;
      background-position: center;
      align-items: center;
    }

    &__image {
      padding-left: 16px;
      width: 501px;
      height: 501px;
    }

    &__text-container {
      margin-top: 90px;
      padding-left: 16px;
      padding-right: 184px;
      background-image: none;
    }

    &__first-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.76;
      letter-spacing: 0.04em;
      color: var(--first-text-color);
      width: 400px;
      height: 104px;
    }

    &__second-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.94;
      letter-spacing: 0.04em;
      color: var(--second-text-color);
      margin-top: 32px;
    }
  }

  .read-more-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    text-align: center;
    color: var(--btn-text-color);
    margin-top: 40px;
    background-color: var(--btn-background-color);
    display: flex;
    justify-content: center;
    border-radius: 22px;
    border: none;
    width: 176px;
    height: 44px;
    cursor: pointer;
    gap: 13.62px;
    &:hover,
    &:focus {
      background-color: var(--btn-hover-focus);
    }
  }

  /*Modal*/
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25, 28, 38, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity var(--transition);
  }

  .modal-content {
    padding: 8px;
    background: var(--modal-backround-color);
    width: 528px;
    margin: 0 auto;
    height: 581px;
    position: relative;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .close-btn {
    background: var(--btn-background-color);
    border: 1px solid #0000001a;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: color var(--transition);
    transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;
  }

  .close-btn:hover,
  .close-btn:focus {
    background: var(--btn-text-color);
  }

  .modal:hover,
  .modal:focus {
    transform: scale(1.05);
  }
  .modal-content {
    padding: 8px;
    background: var(--modal-backround-color);

    margin: 0 auto;

    position: relative;
    overflow: scroll;

    &__modal-title {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 1.28;
      text-align: center;
      color: #d41443;
      padding-top: 20px;
    }

    &__modal-text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.58;
      letter-spacing: 0.04em;
      color: #907e82;
      text-align: justify;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
