/*Contacts*/
.section-contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
  background: #fff5f6;
  .contacts-title {
    position: absolute;
    left: -9999px;
  }
  .contacts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 20px;
    position: absolute;
    top: 4895px;
  }
  &__locations {
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    width: 280px;
    height: 412px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &--from-Chicago {
    width: 80px;
    height: 16px;
    background: #f0d1a5;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
  }
  &--from-LA {
    width: 130px;
    height: 16px;
    background: #c2e297;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
  }
  &--from-NewYork {
    width: 130px;
    height: 16px;
    background: #f0d1a5;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
  }
  .location__description {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .location__description > :first-child {
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #000000;
  }
  .working-hours {
    padding-bottom: calc(24px - 8px);
    border-bottom: 1px solid #e1e1e1;
  }

  .working-hours__description {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #000000;
  }
  .working-hours__program {
    color: #ffa5ba;
    margin-bottom: 8px;
  }
  .contacts__list a {
    text-decoration: none;
    color: #907e82;
  }
  .contacts__list a:hover,
  .contacts__list a:focus {
    color: #d41342;
  }
}
.section-contacts__links {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
  margin-top: 1011px;
}
.contacts-buttons {
  height: 44px;
  width: 161px;
  background: #ffffff;
  color: #d41342;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  &--active {
    background: #d41342;
    color: #ffffff;
  }

  .arrow-icon {
    stroke: white;
    width: 4.43px;
    height: 8px;
    margin-left: 7px;
  }
  .arrow-icon--pink {
    color: #d41342;
    width: 4.43px;
    height: 8px;
    margin-left: 13.62px;
  }
}

@media screen and (min-width: 481px) {
  .section-contacts {
    font-size: 14px;
    line-height: 166%;

    .contacts-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__items {
      top: 3163px;
      flex-direction: row;
      align-items: center;
      gap: 32px;
      padding: 0 16px 0 16px;
    }
    &__locations {
      width: 224px;
      height: 528px;
      padding: 40px 32px;
      gap: 32px;
    }
    &--from-Chicago {
      width: 73px;
      height: 28px;
      border-radius: 6px;
    }
    &--from-LA {
      width: 138px;
      height: 28px;
      border-radius: 6px;
    }
    &--from-NewYork {
      width: 73px;
      height: 28px;
      border-radius: 6px;
    }
    .location__description {
      padding-bottom: 32px;
    }

    .working-hours {
      padding-bottom: calc(32px - 12px);
    }

    .working-hours__program {
      margin-bottom: 12px;
    }
  }
  .section-contacts__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    margin-top: 294px;
  }
  .contacts-buttons {
    width: 191px;
  }
}
@media screen and (min-width: 769px) {
  .section-contacts {
    font-size: 16px;
    line-height: 183%;

    &__items {
      top: 4050px;
      flex-direction: row;
      align-items: center;
    }
    .contacts-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__locations {
      width: 368px;
      height: 538px;
      padding: 40px;
    }
    &--from-Chicago {
      width: 75.1px;
    }
  }
  .contacts-button1--hover:hover,
  .contacts-button1--hover:focus {
    box-shadow: 0px 3px 1px rgba(202, 8, 8, 0.2),
      0px 1px 2px rgba(202, 8, 8, 0.2), 0px 2px 2px rgba(202, 8, 8, 0.2);
    cursor: pointer;
  }
  .contacts-button2--hover:hover,
  .contacts-button2--hover:focus {
    background-color: #ecebeb;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  .section-contacts__links {
    margin-top: 499px;
  }
  .contacts-buttons {
    width: 198px;
  }
}
