@media screen and (min-width: $mobileBreakpoint) {
  .container {
    margin: 0 auto;
    max-width: 320px;
  }
  .section-products {
    background: #ffffff;
    padding-top: 61px;
  }
  .basic-slogan {
    color: #ffa5ba;
    padding-top: 60px;
    padding-left: 89px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
    padding: 15px 61px 8px 59px;
    margin-block-start: 0;
  }
  .products {
    display: flex;
    flex-direction: column;
    gap: 140px;
    padding-top: 148px;
    padding-inline-start: 20px;
    position: relative;

    &__image {
      margin-top: -140px;
      width: 280px;
      height: 280px;
    }

    &__card {
      width: 280px;
      height: 489px;
      background: #ffb8ca;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
    }
    &__card--orange {
      background: #f0d1a5;
    }
    &__card--green {
      background: #c2e297;
    }

    &__name {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      padding-top: 32px;
      margin-block-end: 0;
      margin-block-start: 0;
      display: flex;
      flex-direction: column;
    }
    &__description {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 152%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
      margin-block-end: 0;
      margin-block-start: 0;
      padding: 70px 32px 32px 32px;
      height: 215px;
    }
  }
  .products__name::after {
    content: '...';
    position: absolute;
    width: 6px;
    height: 6px;
    color: #ffffff;
    padding-top: 40px;
    padding-left: 130px;
  }

  .products__details {
    border: none;
    background: none;
    cursor: pointer;
  }
}
@media screen and (min-width: $tabletBreakpoint) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .section-products {
    background: #ffffff;
    padding-top: 61px;
  }
  .basic-slogan {
    color: #ffa5ba;
    padding-top: 60px;
    padding-left: 255px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
    margin-block-start: 0;

    padding: 18px 242px 20px 243px;
  }
  .products {
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: relative;
    padding-top: 158px;
    padding-left: 32px;

    &__image {
      width: 224px;
      height: 224px;
      margin-top: -150px;
    }

    &__card {
      width: 224px;
      height: 473px;
      background: #ffb8ca;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
    }
    &__card--orange {
      background: #f0d1a5;
    }
    &__card--green {
      background: #c2e297;
    }

    &__name {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      padding-top: 32px;
      margin-block-end: 0;
      margin-block-start: 0;
      display: flex;
      flex-direction: column;
    }
    &__description {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 176%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
      margin-block-end: 0;
      margin-block-start: 0;
      padding: 70px 18px 32px 18px;
      height: 245px;
    }
  }
  .products__name::after {
    content: '...';
    position: absolute;
    width: 6px;
    height: 6px;
    color: #ffffff;
    padding-top: 40px;
    padding-left: 100px;
  }

  .products__details {
    border: none;
    background: none;
    cursor: pointer;
  }
}
@media screen and (min-width: $desktopBreakpoint) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-products {
    background: #ffffff;
    padding-top: 61px;
  }
  .basic-slogan {
    color: #ffa5ba;
    padding-top: 60px;
    padding-left: 460px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
    padding: 18px 403px 20px 403px;
    margin-left: 0;
    margin-block-start: 0;
  }
  .products {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 281px;
    position: relative;
    margin-block-end: 0;
    padding-bottom: 60px;

    &__image {
      width: 368px;
      height: 394px;
      margin-top: -265px;
    }

    &__card {
      width: 368px;
      height: 535px;
      background: #ffb8ca;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
    }
    &__card--orange {
      background: #f0d1a5;
    }
    &__card--green {
      background: #c2e297;
    }

    &__name {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      padding-top: 32px;
      margin-block-end: 0;
      margin-block-start: 0;
      display: flex;
      flex-direction: column;
    }
    &__description {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 176%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
      margin-block-end: 0;
      margin-block-start: 0;
      padding: 70px 32px 32px 32px;
    }
  }
  .products__name::after {
    content: '...';
    position: absolute;
    width: 6px;
    height: 6px;
    color: #ffffff;
    padding-top: 40px;
    padding-left: 171px;
  }

  .products__details {
    border: none;
    background: none;
    cursor: pointer;
  }
}
