body {
  margin: 0;
  box-sizing: border-box;

  // background-color: #26476c;
}

// Colors
$underlines-color: #e1e1e1;
// Animations
$transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$duration: 30s;
// Media queries for the underlines
$span-1__underline-1: 261px;
$span-1__underline-2: 302px;
$span-1__underline-3: 329px;
$span-1__underline-4: 400px;
$span-1__underline-5: 479px;
$span-1__underline-6: 650px;
$span-1__underline-7: 861px;

$span-2__underline-1: 238px;
$span-2__underline-2: 261px;
$span-2__underline-3: 278px;
$span-2__underline-4: 331px;
$span-2__underline-5: 423px;
$span-2__underline-6: 563px;
$span-2__underline-7: 768px;

$span-3__underline-1: 261px;
$span-3__underline-2: 296px;
$span-3__underline-3: 342px;
$span-3__underline-4: 386px;
$span-3__underline-5: 478px;
$span-3__underline-6: 600px;
$span-3__underline-7: 818px;

.testimonials-container {
  box-sizing: border-box;
  width: 100%;

  display: grid;
  place-items: center;
}

.testimonials {
  margin-bottom: 219px;
  display: flex;
  flex-direction: column;
  place-items: center;

  &__pfp-container {
    overflow: hidden;
    position: relative;

    margin-bottom: 16px;

    border-radius: 100%;

    &__pfp {
      &--1 {
        transform-origin: 50% 115%;
        animation: pfp-1 $duration linear infinite;
        @keyframes pfp-1 {
          0% {
            // 0s - 9.75s
            opacity: 1;
            transform: rotate(0);
          }
          32.5% {
            // 9.75s
            opacity: 1;
            transform: rotate(0);
          }
          33.33333333% {
            // 10s
            opacity: 0;
            transform: rotate(-90deg);
          }
          99.16666666% {
            opacity: 0;
          }
          100% {
            // 30s
            opacity: 0;
            transform: rotate(90deg);
          }
        }
      }
      &--2 {
        z-index: 1;
        position: absolute;
        left: 0;

        transform-origin: 50% 115%;
        animation: pfp-2 $duration linear infinite;
        @keyframes pfp-2 {
          0% {
            // 0s - 9.75s
            opacity: 0;
          }
          32.5% {
            // 9.75s
            opacity: 0;
            transform: rotate(90deg);
          }
          33.33333333% {
            // 10s
            opacity: 1;
            transform: rotate(0);
          }
          65.83333333% {
            // 19.75s
            opacity: 1;
            transform: rotate(0);
          }
          66.66666666% {
            // 20s
            opacity: 0;
            transform: rotate(-90deg);
          }
          100% {
            // 30s
            opacity: 0;
          }
        }
      }
      &--3 {
        z-index: 2;
        position: absolute;
        left: 0;

        transform-origin: 50% 115%;
        animation: pfp-3 $duration linear infinite;
        @keyframes pfp-3 {
          0% {
            // 0s - 19.75s
            opacity: 0;
          }
          65.83333333% {
            // 19.75s
            opacity: 0;
            transform: rotate(90deg);
          }
          66.66666666% {
            // 20s
            opacity: 1;
            transform: rotate(0);
          }
          99.16666666% {
            // 29.75s
            opacity: 1;
            transform: rotate(0);
          }
          100% {
            // 30s
            opacity: 0;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  &__quote-container {
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    place-items: center;

    width: 80%;
    max-width: calc(1200px * (80 / 100));

    // Quote person identity & location
    & div {
      width: 100%;

      font-family: 'DM Sans', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.6;
      // Suspension points
      &::before {
        content: '‧‧‧';
        font-family: sans-serif;
        display: block;

        font-size: 36px;
        text-align: center;
        line-height: 4px;
        letter-spacing: 8px;

        color: #c7133e;

        padding: 16px 0;
      }
    }
    // Identity animations
    &__identity {
      position: relative;

      display: flex;
      justify-content: center;
      flex-direction: row;
      & span {
        text-align: center;
      }
      & span:nth-child(1) {
        animation: identity-1 $duration linear infinite;
        @keyframes identity-1 {
          0% {
            // 0s - 9.75s
            opacity: 1;
            transform: translateX(0);
          }
          32.5% {
            // 9.75s
            opacity: 1;
            transform: translateX(0);
          }
          33.33333333% {
            // 10s
            opacity: 0;
            transform: translateX(-50%);
          }
          99.16666666% {
            opacity: 0;
          }
          100% {
            // 30s
            opacity: 0;
            transform: translateX(50%);
          }
        }
      }
      & span:nth-child(2) {
        position: absolute;
        top: 0;
        animation: identity-2 $duration linear infinite;
        @keyframes identity-2 {
          0% {
            // 0s - 9.75s
            opacity: 0;
          }
          32.5% {
            // 9.75s
            opacity: 0;
            transform: translateX(50%);
          }
          33.33333333% {
            // 10s
            opacity: 1;
            transform: translateX(0);
          }
          65.83333333% {
            // 19.75s
            opacity: 1;
            transform: translateX(0);
          }
          66.66666666% {
            // 20s
            opacity: 0;
            transform: translateX(-50%);
          }
          100% {
            // 30s
            opacity: 0;
          }
        }
      }
      & span:nth-child(3) {
        position: absolute;
        top: 0;
        animation: identity-3 $duration linear infinite;
        @keyframes identity-3 {
          0% {
            // 0s - 19.75s
            opacity: 0;
          }
          65.83333333% {
            // 19.75s
            opacity: 0;
            transform: translateX(50%);
          }
          66.66666666% {
            // 20s
            opacity: 1;
            transform: translateX(0);
          }
          99.16666666% {
            // 29.75s
            opacity: 1;
            transform: translateX(0);
          }
          100% {
            // 30s
            opacity: 0;
            transform: translateX(-50%);
          }
        }
      }
    }

    // Quote text
    &__quote {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      place-content: center;

      text-align: center;
      background: #fafafa;

      margin: 0;

      padding: 47px 0 39px 0;

      // Quote Text + Quotation Marks + Animations
      span:nth-child(1) {
        z-index: 2;
        position: relative;

        width: 75%;
        height: auto;

        $rotate: rotate(-210deg);
        $scale: scale(1, 1);
        $color: #e1e1e1;
        $size: 65px;
        $top: 0;

        // Animations //
        // First quote
        &:first-child {
          animation: text-translate-1 $duration linear infinite;
          @keyframes text-translate-1 {
            0% {
              // 0s - 9.75s
              opacity: 1;
              transform: translateX(0);
            }
            32.5% {
              // 9.75s
              opacity: 1;
              transform: translateX(0);
            }
            33.33333333% {
              // 10s
              opacity: 0;
              transform: translateX(-100%);
            }
            99.16666666% {
              opacity: 0;
            }
            100% {
              // 30s
              opacity: 0;
              transform: translateX(100%);
            }
          }
        }

        // Quotation marks
        & {
          &::after {
            z-index: -1;
            transform: $rotate $scale;

            position: absolute;
            top: $top;

            content: open-quote;
            color: $color;
            font-size: $size;
            font-weight: 700;
            font-style: italic;

            line-height: 0;
          }

          &::before {
            z-index: -1;
            transform: $rotate $scale;

            position: absolute;
            top: $top;

            content: open-quote;
            color: $color;
            font-size: $size;
            font-weight: 700;
            font-style: italic;

            line-height: 0;
          }
        }
      }
      span:nth-child(2) {
        z-index: 2;
        position: absolute;

        width: 75%;

        $rotate: rotate(-210deg);
        $scale: scale(1, 1);
        $color: #e1e1e1;
        $size: 65px;
        $top: 0;

        &:nth-child(2) {
          animation: text-translate-2 $duration linear infinite;
          @keyframes text-translate-2 {
            0% {
              // 0s - 9.75s
              opacity: 0;
            }
            32.5% {
              // 9.75s
              opacity: 0;
              transform: translateX(100%);
            }
            33.33333333% {
              // 10s
              opacity: 1;
              transform: translateX(0);
            }
            65.83333333% {
              // 19.75s
              opacity: 1;
              transform: translateX(0);
            }
            66.66666666% {
              // 20s
              opacity: 0;
              transform: translateX(-100%);
            }
            100% {
              // 30s
              opacity: 0;
            }
          }
        }

        // Quotation marks
        & {
          &::after {
            z-index: -1;
            transform: $rotate $scale;

            position: absolute;
            top: $top;

            content: open-quote;
            color: $color;
            font-size: $size;
            font-weight: 700;
            font-style: italic;

            line-height: 0;
          }

          &::before {
            z-index: -1;
            transform: $rotate $scale;

            position: absolute;
            top: $top;

            content: open-quote;
            color: $color;
            font-size: $size;
            font-weight: 700;
            font-style: italic;

            line-height: 0;
          }
        }
      }
      span:nth-child(3) {
        z-index: 2;
        position: absolute;

        width: 75%;

        $rotate: rotate(-210deg);
        $scale: scale(1, 1);
        $color: #e1e1e1;
        $size: 65px;
        $top: 0;

        &:nth-child(3) {
          animation: text-translate-3 $duration linear infinite;
          @keyframes text-translate-3 {
            0% {
              // 0s - 19.75s
              opacity: 0;
            }
            65.83333333% {
              // 19.75s
              opacity: 0;
              transform: translateX(100%);
            }
            66.66666666% {
              // 20s
              opacity: 1;
              transform: translateX(0);
            }
            99.16666666% {
              // 29.75s
              opacity: 1;
              transform: translateX(0);
            }
            100% {
              // 30s
              opacity: 0;
              transform: translateX(-100%);
            }
          }
        }

        // Quotation marks
        & {
          &::after {
            z-index: -1;
            transform: $rotate $scale;

            position: absolute;
            top: $top;

            content: open-quote;
            color: $color;
            font-size: $size;
            font-weight: 700;
            font-style: italic;

            line-height: 0;
          }

          &::before {
            z-index: -1;
            transform: $rotate $scale;

            position: absolute;
            top: $top;

            content: open-quote;
            color: $color;
            font-size: $size;
            font-weight: 700;
            font-style: italic;

            line-height: 0;
          }
        }
      }

      // Underline(s)
      & {
        @mixin underline($top, $visibility) {
          position: absolute;
          top: $top;
          left: -7%;

          visibility: $visibility;

          content: ' ';

          width: 112%;
          height: 1px;

          background-color: $underlines-color;
        }
        &__underlines-1 {
          // 8 lines
          @media screen and (min-width: $span-1__underline-1) {
            &--1 {
              @include underline(calc(100% / 8), visible);
            }
            &--2 {
              @include underline(calc((100% / 8) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 8) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 8) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 8) * 5), visible);
            }
            &--6 {
              @include underline(calc((100% / 8) * 6), visible);
            }
            &--7 {
              @include underline(calc((100% / 8) * 7), visible);
            }
            &--8 {
              @include underline(calc(100%), visible);
            }
          }
          // 7 lines
          @media screen and (min-width: $span-1__underline-2) {
            &--1 {
              @include underline(calc(100% / 7), visible);
            }
            &--2 {
              @include underline(calc((100% / 7) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 7) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 7) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 7) * 5), visible);
            }
            &--6 {
              @include underline(calc((100% / 7) * 6), visible);
            }
            &--7 {
              @include underline(calc(100%), visible);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 6 lines
          @media screen and (min-width: $span-1__underline-3) {
            &--1 {
              @include underline(calc(100% / 6), visible);
            }
            &--2 {
              @include underline(calc((100% / 6) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 6) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 6) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 6) * 5), visible);
            }
            &--6 {
              @include underline(calc(100%), visible);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 5 lines
          @media screen and (min-width: $span-1__underline-4) {
            &--1 {
              @include underline(calc(100% / 5), visible);
            }
            &--2 {
              @include underline(calc((100% / 5) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 5) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 5) * 4), visible);
            }
            &--5 {
              @include underline(calc(100%), visible);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 4 lines
          @media screen and (min-width: $span-1__underline-5) {
            &--1 {
              @include underline(calc(100% / 4), visible);
            }
            &--2 {
              @include underline(calc((100% / 4) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 4) * 3), visible);
            }
            &--4 {
              @include underline(calc(100%), visible);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 3 lines
          @media screen and (min-width: $span-1__underline-6) {
            &--1 {
              @include underline(calc(100% / 3), visible);
            }
            &--2 {
              @include underline(calc((100% / 3) * 2), visible);
            }
            &--3 {
              @include underline(calc(100% / 1), visible);
            }
            &--4 {
              @include underline(calc(0), hidden);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 2 lines
          @media screen and (min-width: $span-1__underline-7) {
            &--1 {
              @include underline(calc(100% / 2), visible);
            }
            &--2 {
              @include underline(calc(100% / 1), visible);
            }
            &--3 {
              @include underline(calc(0), hidden);
            }
            &--4 {
              @include underline(calc(0), hidden);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
        }
        &__underlines-2 {
          // 8 lines
          @media screen and (min-width: $span-2__underline-1) {
            &--1 {
              @include underline(calc(100% / 8), visible);
            }
            &--2 {
              @include underline(calc((100% / 8) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 8) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 8) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 8) * 5), visible);
            }
            &--6 {
              @include underline(calc((100% / 8) * 6), visible);
            }
            &--7 {
              @include underline(calc((100% / 8) * 7), visible);
            }
            &--8 {
              @include underline(calc(100%), visible);
            }
          }
          // 7 lines
          @media screen and (min-width: $span-2__underline-2) {
            &--1 {
              @include underline(calc(100% / 7), visible);
            }
            &--2 {
              @include underline(calc((100% / 7) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 7) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 7) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 7) * 5), visible);
            }
            &--6 {
              @include underline(calc((100% / 7) * 6), visible);
            }
            &--7 {
              @include underline(calc(100%), visible);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 6 lines
          @media screen and (min-width: $span-2__underline-3) {
            &--1 {
              @include underline(calc(100% / 6), visible);
            }
            &--2 {
              @include underline(calc((100% / 6) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 6) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 6) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 6) * 5), visible);
            }
            &--6 {
              @include underline(calc(100%), visible);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 5 lines
          @media screen and (min-width: $span-2__underline-4) {
            &--1 {
              @include underline(calc(100% / 5), visible);
            }
            &--2 {
              @include underline(calc((100% / 5) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 5) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 5) * 4), visible);
            }
            &--5 {
              @include underline(calc(100%), visible);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 4 lines
          @media screen and (min-width: $span-2__underline-5) {
            &--1 {
              @include underline(calc(100% / 4), visible);
            }
            &--2 {
              @include underline(calc((100% / 4) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 4) * 3), visible);
            }
            &--4 {
              @include underline(calc(100%), visible);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 3 lines
          @media screen and (min-width: $span-2__underline-6) {
            &--1 {
              @include underline(calc(100% / 3), visible);
            }
            &--2 {
              @include underline(calc((100% / 3) * 2), visible);
            }
            &--3 {
              @include underline(calc(100% / 1), visible);
            }
            &--4 {
              @include underline(calc(0), hidden);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 2 lines
          @media screen and (min-width: $span-2__underline-7) {
            &--1 {
              @include underline(calc(100% / 2), visible);
            }
            &--2 {
              @include underline(calc(100% / 1), visible);
            }
            &--3 {
              @include underline(calc(0), hidden);
            }
            &--4 {
              @include underline(calc(0), hidden);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
        }
        &__underlines-3 {
          // 8 lines
          @media screen and (min-width: $span-3__underline-1) {
            &--1 {
              @include underline(calc(100% / 8), visible);
            }
            &--2 {
              @include underline(calc((100% / 8) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 8) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 8) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 8) * 5), visible);
            }
            &--6 {
              @include underline(calc((100% / 8) * 6), visible);
            }
            &--7 {
              @include underline(calc((100% / 8) * 7), visible);
            }
            &--8 {
              @include underline(calc(100%), visible);
            }
          }
          // 7 lines
          @media screen and (min-width: $span-3__underline-2) {
            &--1 {
              @include underline(calc(100% / 7), visible);
            }
            &--2 {
              @include underline(calc((100% / 7) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 7) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 7) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 7) * 5), visible);
            }
            &--6 {
              @include underline(calc((100% / 7) * 6), visible);
            }
            &--7 {
              @include underline(calc(100%), visible);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 6 lines
          @media screen and (min-width: $span-3__underline-3) {
            &--1 {
              @include underline(calc(100% / 6), visible);
            }
            &--2 {
              @include underline(calc((100% / 6) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 6) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 6) * 4), visible);
            }
            &--5 {
              @include underline(calc((100% / 6) * 5), visible);
            }
            &--6 {
              @include underline(calc(100%), visible);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 5 lines
          @media screen and (min-width: $span-3__underline-4) {
            &--1 {
              @include underline(calc(100% / 5), visible);
            }
            &--2 {
              @include underline(calc((100% / 5) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 5) * 3), visible);
            }
            &--4 {
              @include underline(calc((100% / 5) * 4), visible);
            }
            &--5 {
              @include underline(calc(100%), visible);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 4 lines
          @media screen and (min-width: $span-3__underline-5) {
            &--1 {
              @include underline(calc(100% / 4), visible);
            }
            &--2 {
              @include underline(calc((100% / 4) * 2), visible);
            }
            &--3 {
              @include underline(calc((100% / 4) * 3), visible);
            }
            &--4 {
              @include underline(calc(100%), visible);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 3 lines
          @media screen and (min-width: $span-3__underline-6) {
            &--1 {
              @include underline(calc(100% / 3), visible);
            }
            &--2 {
              @include underline(calc((100% / 3) * 2), visible);
            }
            &--3 {
              @include underline(calc(100% / 1), visible);
            }
            &--4 {
              @include underline(calc(0), hidden);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
          // 2 lines
          @media screen and (min-width: $span-3__underline-7) {
            &--1 {
              @include underline(calc(100% / 2), visible);
            }
            &--2 {
              @include underline(calc(100% / 1), visible);
            }
            &--3 {
              @include underline(calc(0), hidden);
            }
            &--4 {
              @include underline(calc(0), hidden);
            }
            &--5 {
              @include underline(calc(0), hidden);
            }
            &--6 {
              @include underline(calc(0), hidden);
            }
            &--7 {
              @include underline(calc(0), hidden);
            }
            &--8 {
              @include underline(calc(0), hidden);
            }
          }
        }
      }
    }
  }

  &__navigation {
    display: flex;
    gap: 18px;

    margin-top: 32px;

    // Positioning
    & {
      > div {
        position: relative;

        width: 12px;
        height: 11px;

        svg:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      svg {
        vertical-align: top;
      }
    }

    &__box {
      svg {
        transition: $transition;
      }

      // Suspension dots //
      & {
        // Dot 1
        &:nth-child(1) {
          svg:first-child {
            opacity: 1;
            animation: svg-home-1 $duration linear infinite;
            @keyframes svg-home-1 {
              0% {
                // 0s - 9.75s
                opacity: 1;
              }
              32.5% {
                // 9.75s
                opacity: 1;
              }
              33.33333333% {
                // 10s
                opacity: 0;
              }
              99% {
                opacity: 0;
              }
              100% {
                // 30s
                opacity: 1;
              }
            }
          }
          svg:last-child {
            opacity: 0;
            animation: svg-dot-1 $duration linear infinite;
            @keyframes svg-dot-1 {
              0% {
                // 0s - 9.75s
                opacity: 0;
              }
              32.5% {
                // 9.75s
                opacity: 0;
              }
              33.33333333% {
                // 10s
                opacity: 1;
              }
              99% {
                opacity: 1;
              }
              100% {
                // 30s
                opacity: 0;
              }
            }
          }
        }

        // Dot 2
        &:nth-child(2) {
          svg:first-child {
            opacity: 0;
            animation: svg-home-2 $duration linear infinite;
            @keyframes svg-home-2 {
              0% {
                // 0s - 9.75s
                opacity: 0;
              }
              32.5% {
                // 9.75s
                opacity: 0;
              }
              33.33333333% {
                // 10s
                opacity: 1;
              }
              65.83333333% {
                // 19.75s
                opacity: 1;
              }
              66.66666666% {
                // 20s
                opacity: 0;
              }
              100% {
                // 30s
                opacity: 0;
              }
            }
          }
          svg:last-child {
            opacity: 1;
            animation: svg-dot-2 $duration linear infinite;
            @keyframes svg-dot-2 {
              0% {
                // 0s - 9.75s
                opacity: 1;
              }
              32.5% {
                // 9.75s
                opacity: 1;
              }
              33.33333333% {
                // 10s
                opacity: 0;
              }
              65.83333333% {
                // 19.75s
                opacity: 0;
              }
              66.66666666% {
                // 20s
                opacity: 1;
              }
              100% {
                // 30s
                opacity: 1;
              }
            }
          }
        }

        // Dot 3
        &:nth-child(3) {
          svg:first-child {
            opacity: 0;
            animation: svg-home-3 $duration linear infinite;
            @keyframes svg-home-3 {
              0% {
                // 0s - 19.75s
                opacity: 0;
              }
              65.83333333% {
                // 19.75s
                opacity: 0;
              }
              66.66666666% {
                // 20s
                opacity: 1;
              }
              99.16666666% {
                // 29.75s
                opacity: 1;
              }
              100% {
                // 30s
                opacity: 0;
              }
            }
          }
          svg:last-child {
            opacity: 1;
            animation: svg-dot-3 $duration linear infinite;
            @keyframes svg-dot-3 {
              0% {
                // 0s - 19.75s
                opacity: 1;
              }
              65.83333333% {
                // 19.75s
                opacity: 1;
              }
              66.66666666% {
                // 20s
                opacity: 0;
              }
              99.16666666% {
                // 29.75s
                opacity: 0;
              }
              100% {
                // 30s
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  // Change default properties of elements
  & {
    img {
      border-radius: 50%;
    }

    p {
      letter-spacing: 0.04em;
    }

    blockquote {
      quotes: '❛' '❜';
      margin: 0;
    }

    cite {
      font-style: normal;
    }

    u {
      text-decoration: none;
    }
  }
}

// Mobile
@media screen and (max-width: 481px) {
  .testimonials {
    margin-bottom: 385px;
    // Change default properties of elements
    & {
      p {
        font: 500 12px/2.4 'DM Sans', sans-serif;
      }
    }

    &__quote-container {
      // Quote person location
      & div {
        font-size: 14px;
      }

      &__quote {
        // Underline(s)
        & {
          @mixin underline($top, $visibility) {
            position: absolute;
            top: $top;
            left: -10%;

            visibility: $visibility;

            content: ' ';

            width: 120%;
            height: 1px;

            background-color: $underlines-color;
          }
        }
      }
    }

    // Quote text + Quotation marks
    span:first-child {
      width: 61.5%;

      & {
        &::after {
          left: -2px;
        }

        &::before {
          left: -27px;
        }
      }
    }
    span:nth-child(2) {
      width: 61.5%;

      & {
        &::after {
          left: -2px;
        }

        &::before {
          left: -27px;
        }
      }
    }
    span:nth-child(3) {
      width: 61.5%;

      & {
        &::after {
          left: -2px;
        }

        &::before {
          left: -27px;
        }
      }
    }

    &__navigation {
      margin-top: 16px;
    }
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .testimonials {
    margin-bottom: 470px;
    // Change default properties of elements
    & {
      p {
        font: 500 14px/2 'DM Sans', sans-serif;
      }
    }

    &__quote-container {
      // Quote person location
      & div {
        font-size: 16px;

        // Suspension points
        &::before {
          padding: 4px 0 16px 0;
        }
      }

      &__quote {
        // Underline(s)
        & {
          @mixin underline($top, $visibility) {
            position: absolute;
            top: $top;
            left: -11%;

            visibility: $visibility;

            content: ' ';

            width: 122%;
            height: 1px;

            background-color: $underlines-color;
          }

          &__underlines-1 {
            // 8 lines
            @media screen and (min-width: $span-1__underline-1) {
              &--1 {
                @include underline(calc(100% / 8), visible);
              }
              &--2 {
                @include underline(calc((100% / 8) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 8) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 8) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 8) * 5), visible);
              }
              &--6 {
                @include underline(calc((100% / 8) * 6), visible);
              }
              &--7 {
                @include underline(calc((100% / 8) * 7), visible);
              }
              &--8 {
                @include underline(calc(100%), visible);
              }
            }
            // 7 lines
            @media screen and (min-width: $span-1__underline-2) {
              &--1 {
                @include underline(calc(100% / 7), visible);
              }
              &--2 {
                @include underline(calc((100% / 7) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 7) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 7) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 7) * 5), visible);
              }
              &--6 {
                @include underline(calc((100% / 7) * 6), visible);
              }
              &--7 {
                @include underline(calc(100%), visible);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 6 lines
            @media screen and (min-width: $span-1__underline-3) {
              &--1 {
                @include underline(calc(100% / 6), visible);
              }
              &--2 {
                @include underline(calc((100% / 6) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 6) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 6) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 6) * 5), visible);
              }
              &--6 {
                @include underline(calc(100%), visible);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 5 lines
            @media screen and (min-width: $span-1__underline-4) {
              &--1 {
                @include underline(calc(100% / 5), visible);
              }
              &--2 {
                @include underline(calc((100% / 5) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 5) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 5) * 4), visible);
              }
              &--5 {
                @include underline(calc(100%), visible);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 4 lines
            @media screen and (min-width: $span-1__underline-5) {
              &--1 {
                @include underline(calc(100% / 4), visible);
              }
              &--2 {
                @include underline(calc((100% / 4) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 4) * 3), visible);
              }
              &--4 {
                @include underline(calc(100%), visible);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 3 lines
            @media screen and (min-width: $span-1__underline-6) {
              &--1 {
                @include underline(calc(100% / 3), visible);
              }
              &--2 {
                @include underline(calc((100% / 3) * 2), visible);
              }
              &--3 {
                @include underline(calc(100% / 1), visible);
              }
              &--4 {
                @include underline(calc(0), hidden);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 2 lines
            @media screen and (min-width: $span-1__underline-7) {
              &--1 {
                @include underline(calc(100% / 2), visible);
              }
              &--2 {
                @include underline(calc(100% / 1), visible);
              }
              &--3 {
                @include underline(calc(0), hidden);
              }
              &--4 {
                @include underline(calc(0), hidden);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
          }
          &__underlines-2 {
            // 8 lines
            @media screen and (min-width: $span-2__underline-1) {
              &--1 {
                @include underline(calc(100% / 8), visible);
              }
              &--2 {
                @include underline(calc((100% / 8) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 8) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 8) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 8) * 5), visible);
              }
              &--6 {
                @include underline(calc((100% / 8) * 6), visible);
              }
              &--7 {
                @include underline(calc((100% / 8) * 7), visible);
              }
              &--8 {
                @include underline(calc(100%), visible);
              }
            }
            // 7 lines
            @media screen and (min-width: $span-2__underline-2) {
              &--1 {
                @include underline(calc(100% / 7), visible);
              }
              &--2 {
                @include underline(calc((100% / 7) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 7) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 7) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 7) * 5), visible);
              }
              &--6 {
                @include underline(calc((100% / 7) * 6), visible);
              }
              &--7 {
                @include underline(calc(100%), visible);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 6 lines
            @media screen and (min-width: $span-2__underline-3) {
              &--1 {
                @include underline(calc(100% / 6), visible);
              }
              &--2 {
                @include underline(calc((100% / 6) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 6) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 6) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 6) * 5), visible);
              }
              &--6 {
                @include underline(calc(100%), visible);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 5 lines
            @media screen and (min-width: $span-2__underline-4) {
              &--1 {
                @include underline(calc(100% / 5), visible);
              }
              &--2 {
                @include underline(calc((100% / 5) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 5) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 5) * 4), visible);
              }
              &--5 {
                @include underline(calc(100%), visible);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 4 lines
            @media screen and (min-width: $span-2__underline-5) {
              &--1 {
                @include underline(calc(100% / 4), visible);
              }
              &--2 {
                @include underline(calc((100% / 4) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 4) * 3), visible);
              }
              &--4 {
                @include underline(calc(100%), visible);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 3 lines
            @media screen and (min-width: $span-2__underline-6) {
              &--1 {
                @include underline(calc(100% / 3), visible);
              }
              &--2 {
                @include underline(calc((100% / 3) * 2), visible);
              }
              &--3 {
                @include underline(calc(100% / 1), visible);
              }
              &--4 {
                @include underline(calc(0), hidden);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 2 lines
            @media screen and (min-width: $span-2__underline-7) {
              &--1 {
                @include underline(calc(100% / 2), visible);
              }
              &--2 {
                @include underline(calc(100% / 1), visible);
              }
              &--3 {
                @include underline(calc(0), hidden);
              }
              &--4 {
                @include underline(calc(0), hidden);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
          }
          &__underlines-3 {
            // 8 lines
            @media screen and (min-width: $span-3__underline-1) {
              &--1 {
                @include underline(calc(100% / 8), visible);
              }
              &--2 {
                @include underline(calc((100% / 8) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 8) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 8) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 8) * 5), visible);
              }
              &--6 {
                @include underline(calc((100% / 8) * 6), visible);
              }
              &--7 {
                @include underline(calc((100% / 8) * 7), visible);
              }
              &--8 {
                @include underline(calc(100%), visible);
              }
            }
            // 7 lines
            @media screen and (min-width: $span-3__underline-2) {
              &--1 {
                @include underline(calc(100% / 7), visible);
              }
              &--2 {
                @include underline(calc((100% / 7) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 7) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 7) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 7) * 5), visible);
              }
              &--6 {
                @include underline(calc((100% / 7) * 6), visible);
              }
              &--7 {
                @include underline(calc(100%), visible);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 6 lines
            @media screen and (min-width: $span-3__underline-3) {
              &--1 {
                @include underline(calc(100% / 6), visible);
              }
              &--2 {
                @include underline(calc((100% / 6) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 6) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 6) * 4), visible);
              }
              &--5 {
                @include underline(calc((100% / 6) * 5), visible);
              }
              &--6 {
                @include underline(calc(100%), visible);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 5 lines
            @media screen and (min-width: $span-3__underline-4) {
              &--1 {
                @include underline(calc(100% / 5), visible);
              }
              &--2 {
                @include underline(calc((100% / 5) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 5) * 3), visible);
              }
              &--4 {
                @include underline(calc((100% / 5) * 4), visible);
              }
              &--5 {
                @include underline(calc(100%), visible);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 4 lines
            @media screen and (min-width: $span-3__underline-5) {
              &--1 {
                @include underline(calc(100% / 4), visible);
              }
              &--2 {
                @include underline(calc((100% / 4) * 2), visible);
              }
              &--3 {
                @include underline(calc((100% / 4) * 3), visible);
              }
              &--4 {
                @include underline(calc(100%), visible);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 3 lines
            @media screen and (min-width: $span-3__underline-6) {
              &--1 {
                @include underline(calc(100% / 3), visible);
              }
              &--2 {
                @include underline(calc((100% / 3) * 2), visible);
              }
              &--3 {
                @include underline(calc(100% / 1), visible);
              }
              &--4 {
                @include underline(calc(0), hidden);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
            // 2 lines
            @media screen and (min-width: $span-3__underline-7) {
              &--1 {
                @include underline(calc(100% / 2), visible);
              }
              &--2 {
                @include underline(calc(100% / 1), visible);
              }
              &--3 {
                @include underline(calc(0), hidden);
              }
              &--4 {
                @include underline(calc(0), hidden);
              }
              &--5 {
                @include underline(calc(0), hidden);
              }
              &--6 {
                @include underline(calc(0), hidden);
              }
              &--7 {
                @include underline(calc(0), hidden);
              }
              &--8 {
                @include underline(calc(0), hidden);
              }
            }
          }
        }
      }
    }

    // Quotation marks
    span:first-child {
      & {
        width: 80%;

        &::after {
          z-index: -1;
          left: -40px;
        }

        &::before {
          z-index: -1;
          left: -62px;
        }
      }
    }
    span:nth-child(2) {
      & {
        width: 80%;

        &::after {
          z-index: -1;
          left: -40px;
        }

        &::before {
          z-index: -1;
          left: -62px;
        }
      }
    }
    span:nth-child(3) {
      & {
        width: 80%;

        &::after {
          z-index: -1;
          left: -40px;
        }

        &::before {
          z-index: -1;
          left: -62px;
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: 1200px) {
  .testimonials {
    // Change default properties of elements
    & {
      p {
        font: 500 16px/1.8 'DM Sans', sans-serif;
      }
    }

    &__quote-container {
      // Quote person location
      & div {
        font-size: 20px;
      }
    }

    span:first-child {
      & {
        &::after {
          left: -35px;
        }

        &::before {
          left: -58px;
        }
      }
    }
    span:nth-child(2) {
      & {
        &::after {
          left: -35px;
        }

        &::before {
          left: -58px;
        }
      }
    }
    span:nth-child(3) {
      & {
        &::after {
          left: -35px;
        }

        &::before {
          left: -58px;
        }
      }
    }
  }
}
