$mobile-breakpoint: 320px;
$tablet-breakpoint: 481px;
$desktop-breakpoint: 769px;

:root {
  --about-background-color: #fff5f6;
  --label-font-color: #ffa5ba;
  --title-text-color: #d41443;
  --first-text-color: #000000;
  --second-text-color: #907e82;
  --btn-text-color: #d41443;
  --btn-background-color: #fff;
  --btn-hover-focus: #ecebeb;
  --modal-backround-color: #fff5f6;
  --close-btn-background-color: #f5f4fa;
}
