<!--Contacts-->
<section id="contacts" class="section-contacts">
  <h2 class="contacts-title">Conctacts</h2>
  <div class="container contacts-container">
    <ul class="section-contacts__items">
      <li class="section-contacts__locations">
        <div class="section-contacts--from-Chicago">Cafe</div>
        <div class="location__description">
          <span>Chicago</span>
          <span>Handcrafted coffee, baked goods, and premium ice cream.</span>
        </div>
        <div class="working-hours">
          <div class="working-hours__description">
            Monday - Friday <br />
            <div class="working-hours__program">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="10:00">10:00 PM</time>
            </div>
          </div>
          <div class="working-hours__description">
            Saturday - Sunday <br />
            <div class="working-hours__program">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </div>
          </div>
        </div>
        <div class="contacts__list">
          <a href="mailto:noreply@envato.com">noreply@envato.com</a> <br />
          <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </li>
      <li class="section-contacts__locations">
        <div class="section-contacts--from-LA">Food Truck</div>
        <div class="location__description">
          <span>Angeles</span>
          <span
            >Fusion cuisine and refreshing ice cream made with passion.</span
          >
        </div>
        <div class="working-hours">
          <div class="working-hours__description">
            Monday - Friday <br />
            <div class="working-hours__program">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="10:00">10:00 PM</time>
            </div>
          </div>
          <div class="working-hours__description">
            Saturday - Sunday <br />
            <div class="working-hours__program">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </div>
          </div>
        </div>
        <div class="contacts__list">
          <a href="mailto:noreply@envato.com">noreply@envato.com</a> <br />
          <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </li>
      <li class="section-contacts__locations">
        <div class="section-contacts--from-NewYork">Cafe</div>
        <div class="location__description">
          <span>New York</span>
          <span
            >Specialty teas, artisanal pastries, mouth-watering ice cream.</span
          >
        </div>
        <div class="working-hours">
          <div class="working-hours__description">
            Monday - Friday <br />
            <div class="working-hours__program">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="10:00">10:00 PM</time>
            </div>
          </div>
          <div class="working-hours__description">
            Saturday - Sunday <br />
            <div class="working-hours__program">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </div>
          </div>
        </div>
        <div class="contacts__list">
          <a href="mailto:noreply@envato.com">noreply@envato.com</a> <br />
          <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </li>
    </ul>
    <div class="section-contacts__links">
      <button
        class="contacts-buttons contacts-buttons--active contacts-button1--hover"
        data-modal5-open
      >
        Our Locations
        <svg class="arrow-icon">
          <use
            class="arrow-icon"
            href="./images/icon1.svg.svg#icon-button-vector1"
          ></use>
        </svg>
      </button>
      <button class="contacts-buttons contacts-button2--hover" data-modal6-open>
        Franchise
        <svg class="arrow-icon--pink">
          <use href="./images/icon1.svg.svg#icon-button-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!--Modal-->
<div class="modal is-hidden" data-modal5>
  <div class="modal__content">
    <button class="modal__close-btn" data-modal5-close>&times;</button>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d116862.54554679655!2d90.40409584970706!3d23.749000170125925!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1550040341458"
      width="100%"
      height="100%"
      frameborder="0"
      style="border: 0"
      allowfullscreen
    ></iframe>
  </div>

  <div class="modal is-hidden" data-modal6>
    <div class="modal__content">
      <button class="modal__close-btn" data-modal6-close>&times;</button>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d116862.54554679655!2d90.40409584970706!3d23.749000170125925!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1550040341458"
        width="100%"
        height="100%"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
