<!--Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__title">
        <p class="footer__title--pink">homemade ice cream made</p>
        <p class="footer__title--accent-pink">with passion</p>
      </div>
      <div class="footer__links">
        <div class="footer__social-media-links">
          <div class="social-media__background">
            <a href="https://github.com" aria-label="GitHub">
              <svg class="social-media__icon">
                <use href="/src/images/svg/symbol-defs.svg#icon-git"></use>
              </svg>
            </a>
          </div>
          <div class="social-media__background">
            <a href="https://Telegram.com" aria-label="Telegram">
              <svg class="social-media__icon">
                <use href="/src/images/svg/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </div>
          <div class="social-media__background">
            <a href="https://facebook.com" aria-label="Facebook">
              <svg class="social-media__icon">
                <use href="/src/images/svg/symbol-defs.svg#icon-fcb"></use>
              </svg>
            </a>
          </div>
        </div>
        <span class="footer__contact"
          >Feel free to contact
          <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </span>
      </div>
    </div>
    <hr border="1px solid #E1E1E1" />
    <p class="footer__copyright">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
