<!--Footer-->
<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer__content">
      <div class="footer__title">
        <p class="footer__title--pink">homemade ice cream made</p>
        <p class="footer__title--accent-pink">with passion</p>
      </div>
      <div class="footer__links">
        <div class="footer__social-media-links">
          <div class="social-media__background">
            <a href="https://github.com" aria-label="GitHub">
              <svg class="social-media__icon icon-git">
                <use href="/src/images/svg/symbol-defs.svg#icon-git"></use>
              </svg>
            </a>
          </div>
          <div class="social-media__background">
            <a href="https://Telegram.com" aria-label="Telegram">
              <svg class="social-media__icon icon-telegram">
                <use href="/src/images/svg/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </div>
          <div class="social-media__background">
            <a href="https://facebook.com" aria-label="Facebook">
              <svg class="social-media__icon icon-fcb">
                <use href="/src/images/svg/symbol-defs.svg#icon-fcb"></use>
              </svg>
            </a>
          </div>
        </div>
        <span class="footer__contact"
          >Feel free to contact
          <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </span>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright-text">
        &copy; 2022 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
