<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/index.min.css" />
    <title>Gallery</title>
  </head>
  <body>
    <section class="gallery-container">
      <!-- Column 1 -->
      <div class="gallery">
        <div class="gallery__col-1">
          <picture class="gallery__col-1__picture--1">
            <source
              srcset="
                ../images/gallery-1.jpg,
                ../images/gallery-1@1.5x.webp 1.5x,
                ../images/gallery-1@2x.webp   2x
              "
            />
            <img src="../images/gallery-1.jpg" alt="Ice Cream" />
          </picture>
        </div>
        <!-- Column 2 -->
        <div class="gallery__col-2">
          <picture class="gallery__col-2__picture--1">
            <source
              srcset="
                ../images/gallery-2.jpg,
                ../images/gallery-2@1.5x.webp 1.5x,
                ../images/gallery-2@2x.webp   2x
              "
            />
            <img src="../images/gallery-2.jpg" alt="Ice Cream" />
          </picture>
          <picture class="gallery__coln-2__picture--2">
            <source
              srcset="
                ../images/gallery-3.jpg,
                ../images/gallery-3@1.5x.webp 1.5x,
                ../images/gallery-3@2x.webp   2x
              "
            />
            <img src="../images/gallery-3.jpg" alt="Ice Cream" />
          </picture>
        </div>
        <!-- Column 3 -->
        <div class="gallery__col-3">
          <picture class="gallery__col-3__picture--1">
            <source
              srcset="
                ../images/gallery-4.jpg,
                ../images/gallery-4@1.5x.webp 1.5x,
                ../images/gallery-4@2x.webp   2x
              "
            />
            <img src="../images/gallery-4.jpg" alt="Ice Cream" />
          </picture>
          <picture class="gallery__col-3__picture--2">
            <source
              srcset="
                ../images/gallery-5.jpg,
                ../images/gallery-5@1.5x.webp 1.5x,
                ../images/gallery-5@2x.webp   2x
              "
            />
            <img src="../images/gallery-5.jpg" alt="Ice Cream" />
          </picture>
        </div>
        <!-- Column 4 -->
        <div class="gallery__col-4">
          <picture class="gallery__col-4__picture--1">
            <source
              srcset="
                ../images/gallery-6.jpg,
                ../images/gallery-6@1.5x.webp 1.5x,
                ../images/gallery-6@2x.webp   2x
              "
            />
            <img src="../images/gallery-6.jpg" alt="Ice Cream" />
          </picture>
          <picture class="gallery__col-2__picture--2">
            <source
              srcset="
                ../images/gallery-7.jpg,
                ../images/gallery-7@1.5x.webp 1.5x,
                ../images/gallery-7@2x.webp   2x
              "
            />
            <img src="../images/gallery-7.jpg" alt="Ice Cream" />
          </picture>
        </div>
        <!-- Column 5 -->
        <div class="gallery__col-5">
          <picture class="gallery__col-5__picture--1">
            <source
              srcset="
                ../images/gallery-8.jpg,
                ../images/gallery-8@1.5x.webp 1.5x,
                ../images/gallery-8@2x.webp   2x
              "
            />
            <img src="../images/gallery-8.jpg" alt="Ice Cream" />
          </picture>
          <picture class="gallery__col-5__picture--2">
            <source
              srcset="
                ../images/gallery-9.jpg,
                ../images/gallery-9@1.5x.webp 1.5x,
                ../images/gallery-9@2x.webp   2x
              "
            />
            <img src="../images/gallery-9.jpg" alt="Ice Cream" />
          </picture>
        </div>
        <!-- Column 6 -->
        <div class="gallery__col-6">
          <picture class="gallery__col-6__picture--1">
            <source
              srcset="
                ../images/gallery-10.jpg,
                ../images/gallery-10@1.5x.webp 1.5x,
                ../images/gallery-10@2x.webp   2x
              "
            />
            <img src="../images/gallery-10.jpg" alt="Ice Cream" />
          </picture>
        </div>
      </div>
    </section>
  </body>
</html>
