<section class="section-products" id="products">
  <div class="container">
    <label for="slogan" class="basic-slogan">100% natural</label>
    <h2 class="title">PRODUCTS</h2>
    <ul class="products">
      <li class="products__item products__card">
        <picture>
          <source
            media="(min-width:769px)"
            srcset="./images/ice-cream-d.png, ./images/ice-cream-d@2x.png 2x"
          />
          <source
            media="(min-width:481px)"
            srcset="./images/ice-cream-t.png, ./images/ice-cream-t@2x.png 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/ice-cream-m.png, ./images/ice-cream-m@2x.png 2x"
          />
          <img
            class="products__image"
            src="./images/ice-cream-d.png"
            alt="ICE CREAM"
            width="368"
          />
        </picture>

        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Indulge in our rich and creamy ice cream, handcrafted with all-natural
          ingredients and available in a variety of flavors.
        </p>
        <button class="products__details" data-modal2-open>
          <img
            src="./images/product-arrow.png"
            alt="detailed-product-description"
            style="width: 40px; height: 40px"
          />
        </button>
      </li>
      <li class="products__item products__card products__card--orange">
        <picture>
          <source
            media="(min-width:769px)"
            srcset="./images/ice-coffee-d.png, ./images/ice-coffee-d@2x.png 2x"
          />
          <source
            media="(min-width:481px)"
            srcset="./images/ice-coffee-t.png, ./images/ice-coffee-t@2x.png 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/ice-coffee-m.png, ./images/ice-coffee-m@2x.png 2x"
          />
          <img
            class="products__image"
            src="./images/ice-coffee-d.png"
            alt="ICE COFFEE"
            width="368"
          />
        </picture>

        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Refresh and energize with our perfectly brewed iced coffee, made with
          high-quality beans and served over ice.
        </p>
        <button class="products__details" data-modal3-open>
          <img
            src="./images/product-arrow.png"
            alt="detailed-product-description"
            style="width: 40px; height: 40px"
          />
        </button>
      </li>
      <li class="products__item products__card products__card--green">
        <picture>
          <source
            media="(min-width:769px)"
            srcset="./images/milkshakes-d.png, ./images/milkshakes-d@2x.png 2x"
          />
          <source
            media="(min-width:481px)"
            srcset="./images/milkshakes-t.png, ./images/milkshakes-t@2x.png 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/milkshakes-m.png, ./images/milkshakes-m@2x.png 2x"
          />
          <img
            class="products__image"
            src="./images/milkshakes-d.png"
            alt="MILKSHAKES"
            width="368"
          />
        </picture>

        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Satisfy your sweet tooth with our thick, made with premium ice cream,
          topped with whipped cream and your favorite toppings.
        </p>
        <button class="products__details" data-modal4-open>
          <img
            src="./images/product-arrow.png"
            alt="detailed-product-description"
            style="width: 40px; height: 40px"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
