<section class="testimonials">
  <!-- Profile Pictures -->
  <picture class="testimonials__pfp--1">
    <source
      srcset="
        ../images/testimonials-1.jpg,
        ../images/testimonials-1@1.5x.webp 1.5x,
        ../images/testimonials-1@2x.webp   2x
      "
    />
    <img src="../images/testimonials-1.jpg" alt="Customer Picture" />
  </picture>
  <picture class="testimonials__pfp--2">
    <source
      srcset="
        ../images/testimonials-2.jpg,
        ../images/testimonials-2@1.5x.webp 1.5x,
        ../images/testimonials-2@2x.webp   2x
      "
    />
    <img src="../images/testimonials-2.jpg" alt="Customer Picture" />
  </picture>
  <picture class="testimonials__pfp--3">
    <source
      srcset="
        ../images/testimonials-3.jpg,
        ../images/testimonials-3@1.5x.webp 1.5x,
        ../images/testimonials-3@2x.webp   2x
      "
    />
    <img src="../images/testimonials-3.jpg" alt="Customer Picture" />
  </picture>

  <!-- Quotes -->
  <blockquote class="testimonials__quote-container">
    <p class="testimonials__quote-container__quote">
      <span>
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
        <u class="testimonials__quote-container__quote__underline--1"></u>
        <u class="testimonials__quote-container__quote__underline--2"></u>
        <u class="testimonials__quote-container__quote__underline--3"></u>
        <u class="testimonials__quote-container__quote__underline--4"></u>
        <u class="testimonials__quote-container__quote__underline--5"></u>
        <u class="testimonials__quote-container__quote__underline--6"></u>
        <u class="testimonials__quote-container__quote__underline--7"></u>
        <u class="testimonials__quote-container__quote__underline--8"></u>
      </span>
    </p>
    <div>
      <cite class="testimonials__name">Emily</cite>,
      <address class="testimonials__address">Los Angeles</address>
    </div>
  </blockquote>

  <!-- Active Quote Visual -->
  <nav class="testimonials__navigation">
    <svg width="12" height="11">
      <use href="../images/icons.svg.svg#icon-home"></use>
    </svg>
    <svg width="12" height="11">
      <use href="../images/icons.svg.svg#icon-inactive-dot"></use>
    </svg>
    <svg width="12" height="11">
      <use href="../images/icons.svg.svg#icon-inactive-dot"></use>
    </svg>
  </nav>
</section>
