<section class="testimonials">
  <!-- Profile Pictures -->
  <div class="testimonials__pfp-container">
    <picture class="testimonials__pfp-container__pfp--1">
      <source
        srcset="
          ../images/testimonials-1.jpg,
          ../images/testimonials-1@1.5x.webp 1.5x,
          ../images/testimonials-1@2x.webp   2x
        "
      />
      <img src="../images/testimonials-1.jpg" alt="Customer Picture" />
    </picture>
    <picture class="testimonials__pfp-container__pfp--2">
      <source
        srcset="
          ../images/testimonials-2.jpg,
          ../images/testimonials-2@1.5x.webp 1.5x,
          ../images/testimonials-2@2x.webp   2x
        "
      />
      <img src="../images/testimonials-2.jpg" alt="Customer Picture" />
    </picture>
    <picture class="testimonials__pfp-container__pfp--3">
      <source
        srcset="
          ../images/testimonials-3.jpg,
          ../images/testimonials-3@1.5x.webp 1.5x,
          ../images/testimonials-3@2x.webp   2x
        "
      />
      <img src="../images/testimonials-3.jpg" alt="Customer Picture" />
    </picture>
  </div>

  <!-- Quotes -->
  <blockquote class="testimonials__quote-container">
    <p class="testimonials__quote-container__quote">
      <span>
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
        <u class="testimonials__quote-container__quote__underlines-1--1"></u>
        <u class="testimonials__quote-container__quote__underlines-1--2"></u>
        <u class="testimonials__quote-container__quote__underlines-1--3"></u>
        <u class="testimonials__quote-container__quote__underlines-1--4"></u>
        <u class="testimonials__quote-container__quote__underlines-1--5"></u>
        <u class="testimonials__quote-container__quote__underlines-1--6"></u>
        <u class="testimonials__quote-container__quote__underlines-1--7"></u>
        <u class="testimonials__quote-container__quote__underlines-1--8"></u>
      </span>
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vero
        delectus explicabo error repudiandae fugit possimus ea iure.
        <u class="testimonials__quote-container__quote__underlines-2--1"></u>
        <u class="testimonials__quote-container__quote__underlines-2--2"></u>
        <u class="testimonials__quote-container__quote__underlines-2--3"></u>
        <u class="testimonials__quote-container__quote__underlines-2--4"></u>
        <u class="testimonials__quote-container__quote__underlines-2--5"></u>
        <u class="testimonials__quote-container__quote__underlines-2--6"></u>
        <u class="testimonials__quote-container__quote__underlines-2--7"></u>
        <u class="testimonials__quote-container__quote__underlines-2--8"></u>
      </span>
      <span>
        Reiciendis fugiat voluptatum recusandae unde illo itaque enim architecto
        fuga dolorem sint! Delectus quibusdam ratione laudantium maxime
        asperiores?
        <u class="testimonials__quote-container__quote__underlines-3--1"></u>
        <u class="testimonials__quote-container__quote__underlines-3--2"></u>
        <u class="testimonials__quote-container__quote__underlines-3--3"></u>
        <u class="testimonials__quote-container__quote__underlines-3--4"></u>
        <u class="testimonials__quote-container__quote__underlines-3--5"></u>
        <u class="testimonials__quote-container__quote__underlines-3--6"></u>
        <u class="testimonials__quote-container__quote__underlines-3--7"></u>
        <u class="testimonials__quote-container__quote__underlines-3--8"></u>
      </span>
    </p>

    <div>
      <cite class="testimonials__quote-container__identity">
        <span>Emily, Los Angeles</span>
        <span>Hannah, San Francisco</span>
        <span>Jenna, Las Vegas</span>
      </cite>
    </div>
  </blockquote>

  <!-- Active Quote Visual -->
  <nav class="testimonials__navigation">
    <div class="testimonials__navigation__box">
      <svg width="12" height="11">
        <use href="../images/icons.svg.svg#icon-home"></use>
      </svg>
      <svg width="12" height="11">
        <use href="../images/icons.svg.svg#icon-inactive-dot"></use>
      </svg>
    </div>

    <div class="testimonials__navigation__box">
      <svg width="12" height="11">
        <use href="../images/icons.svg.svg#icon-home"></use>
      </svg>
      <svg width="12" height="11">
        <use href="../images/icons.svg.svg#icon-inactive-dot"></use>
      </svg>
    </div>

    <div class="testimonials__navigation__box">
      <svg width="12" height="11">
        <use href="../images/icons.svg.svg#icon-home"></use>
      </svg>
      <svg width="12" height="11">
        <use href="../images/icons.svg.svg#icon-inactive-dot"></use>
      </svg>
    </div>
  </nav>
</section>
